@charset "UTF-8";
@-webkit-keyframes in-out-first {
  0% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@keyframes in-out-first {
  0% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@-webkit-keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@-webkit-keyframes moving {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(var(--moving) * -1));
            transform: translateX(calc(var(--moving) * -1));
  }
}
@keyframes moving {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(var(--moving) * -1));
            transform: translateX(calc(var(--moving) * -1));
  }
}
@-webkit-keyframes moving2 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(calc(var(--moving) * -1));
            transform: translateX(calc(var(--moving) * -1));
  }
}
@keyframes moving2 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(calc(var(--moving) * -1));
            transform: translateX(calc(var(--moving) * -1));
  }
}
@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #1e1e1e;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #1e1e1e;
  }
}
/* 
#EDCDC2
#E5CCAF
#D4CACD
#BB2649
#BFAF92
#B7A990
#B3B1A1
#BFCAD6
 */
/*page00	'장수군 승마레저파크'*/
.faq .accordion {
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: left;
  outline: none;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.faq .accordion.active, .faq .accordion:hover {
  border: 1px solid;
  font-weight: bold;
}
.faq .accordion:after {
  content: "+";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.faq.active:after {
  content: "−";
}
.faq .panel {
  padding: 0 20px;
  background-color: floralwhite;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.faq .panel span {
  text-align: center;
  margin: 10px 0 20px;
}
.faq .panel span a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px 7px 5px;
  background-color: #444547;
  text-align: center;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  color: #fff;
}
.faq .panel span a:first-child {
  background-color: #05804a;
}

/*page03	'고창군청'*/
.gochang h4 {
  text-align: center;
  padding: 1rem;
}
.gochang .member a {
  width: 150px;
  line-height: 38px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 10px 10px 0 0 #0a1132;
          box-shadow: 10px 10px 0 0 #0a1132;
  font-weight: 600;
  color: #2b2c57;
  display: block;
}
@media all and (min-width: 1280px) {
  .gochang .member a {
    -webkit-animation: pop-up 0.5s both;
            animation: pop-up 0.5s both;
  }
  .gochang .member a:hover {
    -webkit-animation: pop-down 0.5s both;
            animation: pop-down 0.5s both;
  }
}
.gochang .btn_more {
  margin-top: 2rem;
  text-align: center;
}
.gochang .btn_more a {
  width: 40px;
  height: 0;
  padding-top: 40px;
  background: url(https://www.gochang.go.kr//images/04_assemblyman/main/icon.png) -51px -232px #354274;
  display: inline-block;
  overflow: hidden;
}
@media all and (min-width: 1280px) {
  .gochang .btn_more a:hover {
    -webkit-animation: jelly 0.9s both;
            animation: jelly 0.9s both;
  }
}
.gochang .quicklink p {
  padding: 10px 0 17px 30px;
  position: relative;
  text-align: center;
}
.gochang .quicklink p:before, .gochang .quicklink p:after {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: -5px;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  content: "";
}
.gochang .quicklink p:after {
  background: red;
  left: 0;
}
.gochang .quicklink strong {
  width: 47%;
  margin: 0 1.5em 0 0;
  font-size: 1.125rem;
  line-height: 24px;
  display: inline-block;
  word-break: keep-all;
}
.gochang .quicklink a {
  padding: 0 20px;
  position: relative;
  display: inline-block;
}
.gochang .quicklink a i {
  width: 3px;
  height: 24px;
  background: red;
  position: absolute;
  top: 0;
}
.gochang .quicklink a i:before {
  height: 3px;
  width: 10px;
  content: "";
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.gochang .quicklink a i:after {
  height: 3px;
  width: 10px;
  content: "";
  background: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
}
.gochang .quicklink a i.l {
  left: 0;
}
.gochang .quicklink a i.r {
  left: auto;
  right: 0;
}
.gochang .quicklink a i.r:before, .gochang .quicklink a i.r:after {
  left: auto;
  right: 0;
}
.gochang .quicklink span {
  color: red;
  text-align: center;
  display: block;
}
@media all and (min-width: 768px) {
  .gochang .quicklink > div {
    padding: 40px 0 60px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .gochang .quicklink .con_tit {
    border-bottom: 1px solid;
  }
  .gochang .quicklink p {
    width: 240px;
    height: 240px;
    padding: 0;
    margin: 2rem auto 0;
  }
  .gochang .quicklink p:before, .gochang .quicklink p:after {
    top: 0px;
    left: 47%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  .gochang .quicklink p:after {
    left: 50%;
  }
  .gochang .quicklink strong {
    width: 100%;
    padding: 35px 0;
    height: 140px;
    float: none;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .gochang .quicklink strong br {
    display: block;
  }
  .gochang .quicklink a {
    float: none;
  }
  .gochang .quicklink a i.l {
    left: 0;
  }
  .gochang .quicklink a i.r {
    right: 0;
  }
}
@media all and (min-width: 1280px) {
  .gochang .quicklink strong {
    padding: 35px 40px;
    position: relative;
    z-index: 1;
  }
  .gochang .quicklink a {
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-transition: width 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    transition: width 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .gochang .quicklink a i {
    height: 24px;
    width: 2px;
    background: red;
  }
  .gochang .quicklink a i:before {
    top: 11px;
    height: 2px;
    width: 11px;
  }
  .gochang .quicklink a i:after {
    bottom: 11px;
    height: 2px;
    width: 11px;
  }
  .gochang .quicklink a i.l {
    left: 24px;
  }
  .gochang .quicklink a i.r {
    right: 24px;
  }
  .gochang .quicklink span {
    opacity: 0;
    filter: Alpha(opacity=0);
  }
  .gochang .quicklink a i,
  .gochang .quicklink a i:before,
  .gochang .quicklink a i:after,
  .gochang .quicklink span {
    -webkit-transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1), background-color 0s;
    transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1), background-color 0s;
  }
  .gochang .quicklink p:hover:before, .gochang .quicklink p:hover:after {
    width: 200px;
    height: 200px;
    left: 8%;
  }
  .gochang .quicklink p:hover:before {
    background: url("https://www.gochang.go.kr//images/05_biosphere_reserve/main/quicklink_img.png") no-repeat;
  }
  .gochang .quicklink p:hover:after {
    background: black;
    opacity: 0.46;
  }
  .gochang .quicklink p:hover strong {
    color: white;
    text-decoration: underline;
  }
  .gochang .quicklink p:hover a {
    width: 100%;
  }
  .gochang .quicklink p:hover a i:before {
    top: 0;
    height: 2px;
    width: 5px;
  }
  .gochang .quicklink p:hover a i:after {
    bottom: 0;
    height: 2px;
    width: 5px;
  }
  .gochang .quicklink p:hover a i.l {
    left: 20%;
  }
  .gochang .quicklink p:hover a i.r {
    right: 20%;
  }
  .gochang .quicklink p:hover span {
    opacity: 1;
    filter: Alpha(opacity=100);
  }
}

@-webkit-keyframes pop-down {
  0% {
    -webkit-box-shadow: 10px 0 #0a1132, 0 10px #0a1132;
            box-shadow: 10px 0 #0a1132, 0 10px #0a1132;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
            box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes pop-down {
  0% {
    -webkit-box-shadow: 10px 0 #0a1132, 0 10px #0a1132;
            box-shadow: 10px 0 #0a1132, 0 10px #0a1132;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
            box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@-webkit-keyframes pop-up {
  0% {
    -webkit-box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
            box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
  100% {
    -webkit-box-shadow: 0px 0 #0a1132, 0 0px #0a1132;
            box-shadow: 0px 0 #0a1132, 0 0px #0a1132;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@keyframes pop-up {
  0% {
    -webkit-box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
            box-shadow: 10px 10px #0a1132, 10px 10px #0a1132;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
  100% {
    -webkit-box-shadow: 0px 0 #0a1132, 0 0px #0a1132;
            box-shadow: 0px 0 #0a1132, 0 0px #0a1132;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
@-webkit-keyframes jelly {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jelly {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
/*page04	'전북도청'*/
.modalBox {
  position: relative;
  margin: 20px 0;
}
.modalBox .gallery_list {
  width: 100%;
  border-top: 2px solid #123466;
  color: #fff;
  position: relative;
}
@media all and (min-width: 1280px) {
  .modalBox .gallery_list {
    padding: 20px 0;
  }
}
.modalBox .gallery_list li {
  line-height: 1.25em;
  text-align: center;
}
@media all and (min-width: 768px) {
  .modalBox .gallery_list li {
    width: calc(33.33% - 2px);
    float: left;
    border-left: 1px solid #d7d7d7;
  }
  .modalBox .gallery_list li:last-child, .modalBox .gallery_list li:nth-child(2n) {
    border-right: 1px solid #d7d7d7;
  }
}
@media all and (min-width: 1280px) {
  .modalBox .gallery_list li {
    padding: 30px 10px;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .modalBox .gallery_list li:last-child, .modalBox .gallery_list li:nth-child(2n) {
    border-right: 0;
  }
}
.modalBox .gallery_list li a {
  display: block;
}
.modalBox .gallery_list li span {
  padding: 4px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}
@media all and (min-width: 768px) {
  .modalBox .gallery_list li span {
    height: 0;
    padding: 0;
    padding-top: 56.25%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
}
@media all and (min-width: 1280px) {
  .modalBox .gallery_list li span {
    width: 100%;
  }
  .modalBox .gallery_list li span:hover {
    background: #f4f4f8;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .modalBox .gallery_list li span:hover strong {
    text-decoration: underline;
  }
}
.modalBox .gallery_list li span img {
  max-width: 100%;
}
@media all and (min-width: 768px) {
  .modalBox .gallery_list li span img {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.modalBox .gallery_list li p {
  margin: 0 auto;
  padding: 1.125rem 1rem;
  font-size: 0.9333rem;
  color: #002253;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media all and (min-width: 768px) {
  .modalBox .gallery_list:after {
    content: "";
    display: block;
    clear: both;
  }
}
.modalBox .gal_modal {
  width: 100%;
  padding: 30px 10px;
  border-radius: 15px;
  background: #002253;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modalBox .gal_modal strong {
  margin-right: 50px;
  height: 70px;
  line-height: 1.84;
  color: #fff;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  display: block;
}
.modalBox .gal_modal .gal_box {
  position: relative;
}
.modalBox .gal_modal .gal_box .gal_imgbox {
  margin: auto;
  text-align: center;
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
.modalBox .gal_modal .gal_box .gal_imgbox img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.modalBox .gal_modal .btn_set.close_btnbox {
  position: absolute;
  top: 20px;
  right: 0px;
}
.modalBox .gal_modal .btn_set a {
  width: 36px;
  padding: 36px 0 0;
  position: absolute;
  height: 0;
  margin: 0 1px 0 0;
  background: url(https://www.jeonbuk.go.kr//images/01_portal/common/icon_common.png);
  display: inline-block !important;
  overflow: hidden;
}
.modalBox .gal_modal .btn_set a:last-child {
  margin: 0;
}
.modalBox .gal_modal .btn_set a.prev {
  background-position: 0px -104px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: -10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.modalBox .gal_modal .btn_set a.stop {
  background-position: -37px -104px;
}
.modalBox .gal_modal .btn_set a.play {
  background-position: -71px -104px;
}
.modalBox .gal_modal .btn_set a.next {
  background-position: -143px -104px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  right: -10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.modalBox .gal_modal .btn_set a.list {
  background-position: -109px -104px;
}
.modalBox .gal_modal .btn_set a.close {
  background-color: #fff !important;
  border-radius: 50%;
  background-position: -4px -237px;
  top: -100px;
  right: 0;
}
.modalBox .gal_modal .btn_set a:focus, .modalBox .gal_modal .btn_set a:hover {
  background-color: rgb(0, 0, 0);
}
@media all and (min-width: 768px) {
  .modalBox .gal_modal {
    width: 90%;
  }
  .modalBox .gal_modal ul {
    width: 80%;
    margin: 20px auto;
  }
  .modalBox .gal_modal ul:after {
    display: block;
    clear: both;
    content: "";
  }
  .modalBox .gal_modal ul li {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media all and (min-width: 1280px) {
  .modalBox .gal_modal {
    padding: 20px 30px;
    top: 0;
  }
  .modalBox .gal_modal ul {
    margin: 20px auto 50px;
  }
}
@media all and (min-width: 768px) {
  .modalBox:after {
    content: "";
    display: block;
    clear: both;
  }
}

@media all and (max-width: 400px) {
  .gal_modal .gal_imgbox img {
    width: 100%;
  }
}
/*page05	'담양 대나무 축제'*/
.t_info .v_date {
  font: 3.75rem "DoHyeon";
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.75);
}
@media all and (min-width: 768px) {
  .t_info .v_date {
    font-size: 6.25rem;
  }
}
@media all and (min-width: 1280px) {
  .t_info .v_date {
    max-width: 1400px;
    padding: 40px 0px 52px;
    margin: 0 auto;
  }
}
.t_info .v_date span {
  display: inline-block;
  position: relative;
}
.t_info .v_date span:before {
  width: 36px;
  height: 36px;
  background: url(../images/content/img06-03.png) -276px -8px;
  display: block;
  position: absolute;
  content: "";
}
.t_info .v_date span .d:before {
  bottom: 10px;
  left: -26px;
}
@media all and (min-width: 768px) {
  .t_info .v_date span .d:before {
    bottom: 20px;
  }
}
.t_info .v_date span .day {
  color: #f6ff00;
}
.t_info .v_date span .day:before {
  top: -22px;
  right: -21px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*page6	'비짓전주'*/
.spotSlide {
  padding-top: 3rem;
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 100vw;
}
@media all and (min-width: 1280px) {
  .spotSlide {
    width: 1280px;
  }
}
.spotSlide .btn_circle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.spotSlide .btn_circle button {
  padding: 0.5rem 1rem;
  background: powderblue;
  overflow: hidden;
  display: block;
  z-index: 1;
}
.spotSlide .btn_circle button:hover, .spotSlide .btn_circle button:focus {
  background-color: #efe9f3;
}
.spotSlide .btn_circle button.prev {
  top: 0;
  right: 70px;
}
.spotSlide .btn_circle button.next {
  top: 0;
}
.spotSlide .btn_circle button.disable {
  opacity: 0.3;
}
.spotSlide .item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.spotSlide .item_wrap span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33%;
}
.spotSlide .item_wrap span img {
  max-width: 100%;
}
.spotSlide .item_wrap span strong {
  text-align: center;
}