@import "variable", "mixin";

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 999;
  a {
    align-self: center;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) 0.5s;
  }
  h1 {
    background: icon(logo, "04cf5c", "232323") no-repeat;
    background-size: contain !important;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in;
  }
  &.active a {
    transform: translate(calc(-50vw + 50px), 0px);
  }
}
#sub-0 h1 {
  background: icon(logo, "04cf5c", "ffffff") no-repeat;
}
#sub-0.product h1 {
  background: icon(logo, "04cf5c", "252525") no-repeat;
}
article {
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 0 1.25rem;
  position: relative;
  box-sizing: border-box;
  @include tablet {
    padding: 0 3rem;
  }
  @include pc {
    padding: 0 1.25rem;
  }
}

footer {
  background: white;
  text-align: center;
  padding: 20px;
  @include pc {
    display: grid;
    grid-template-rows: minmax(100px, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
    gap: 16px;
  }
  .fnb {
    @include pc {
      grid-column: 2 / span 4;
      align-self: center;
    }
    letter-spacing: 0;
    color: #333;
    a {
      margin: 0 0.625rem;
      padding: 0.625rem 1em;
      border-radius: 20px;
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      &:before {
        width: 0;
        height: 100%;
        @include bgColor(background, cMain, 1);
        transition: 0.5s ease;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
      }
      address {
        @include fontSizeStyle(0.875rem);
        position: relative;
        z-index: 1;
      }
      &.github i {
        background: icon(git, "000000") no-repeat;
        display: inline-block;
        width: 22px;
        height: 22px;
        background-size: contain;
        vertical-align: middle;
      }
      &.gitblog i {
        background: url(https://seraphinaciel.github.io/assets/images/logo.png)
          no-repeat;
        display: inline-block;
        width: 22px;
        height: 22px;
        background-size: contain;
        vertical-align: middle;
      }
      i {
        @include fontSizeStyle(1.375rem);
        margin-right: 0.625rem;
      }
      svg {
        margin-right: 0.625rem;
        border-radius: 50%;
        border: 1px solid transparent;
        vertical-align: middle;
      }
      &:hover {
        color: white;
        &::before {
          width: 100%;
        }
        svg {
          background: white;
          border-color: white;
        }
        i {
          color: white;
        }
        &.github i {
          background: icon(git, "ffffff") no-repeat;
        }
        &.gitblog i {
          filter: brightness(100%) contrast(100%) saturate(100%) sepia(100%)
            invert(100%);
        }
      }
    }
  }
  .copy {
    text-transform: capitalize;
    @include fontSizeStyle($weight: 300);
    letter-spacing: 0;
    @include pc {
      grid-column: 6 / -2;
      align-self: center;
      text-align: right;
    }
  }
}

.btnTop {
  position: fixed;
  right: 5vw;
  bottom: 10px;
  display: inline-block;
  z-index: 9;
  width: 40px;
  height: 40px;
  @include fontSizeStyle(0.875rem);
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  @include bgColor(background, cMainDark, 1);
  border-radius: 50%;
  padding: 5px;
  transform: translate3d(0, 50px, 0);
  transition: 0.3s cubic-bezier(0.7, 1, 0.7, 1);
  opacity: 0;
  text-transform: uppercase;
  &:hover {
    @include bgColor(background, cMainLight, 1);
  }
  &.btnVisible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.sub_visual {
  height: 200vh;
  background: linear-gradient(rgba(37, 37, 37, 0.7) 10%, rgba(37, 37, 37, 1));
  position: relative;
  span {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../images/thumnail/img06.jpg") center;
    background-size: cover;
  }

  div {
    max-width: 1280px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 20px;
    right: 20px;
    animation: in-out 1s linear forwards paused;
    animation-delay: calc(var(--progress) * -1s);
    &:first-of-type {
      animation-name: in-out-first;
    }
  }
  h2 {
    @include fontSizeStyle(4rem, 500);
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    @include tablet {
      @include fontSizeStyle(4rem, 600);
    }
  }

  h3 {
    @include fontSizeStyle(2rem, 600);
    color: white;
    text-align: right;
    width: 100%;
    em {
      font-weight: 900;
      font-size: 100%;
      letter-spacing: 1em;
      display: block;
    }
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    line-height: 1.9;
    color: white;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }
    dt {
      width: 20%;
      padding: 0.5rem 0.5rem 0 0;
      margin-top: 0.5rem;
      @include fontSizeStyle(1.5rem, 600);
      & + dd {
        padding-top: 0.5rem;
        margin-top: 0.5rem;
      }
      @include tablet {
        order: 1;
        &:nth-of-type(n + 4) {
          order: 3;
        }
        &:last-of-type {
          grid-column: 2/-1;
        }
      }
    }
    dd {
      width: 80%;
      @include fontSizeStyle(1.125rem, 300);
      @include tablet {
        order: 2;
        &:nth-of-type(n + 4) {
          order: 4;
        }
        &:last-of-type {
          grid-column: 2/-1;
        }
      }
      em {
        font-size: 0.625rem;
      }
    }
    & + .btn {
      order: 2;
    }
  }
}
.product .sub_visual {
  height: 100vh;
  // background: linear-gradient(rgba(48, 77, 117, 0.7) 10%, rgba(48, 77, 117, 1));

  span {
    background: url("../images/thumnail/product.jpg") center;
    background-size: cover;
  }
}
.btn {
  text-align: center;
  margin-top: 2rem;
  a {
    margin: 0.4rem 0.4rem 0 0;
    @include bgColor(background, cMainDark, 1);
    color: white;
    padding: 0.875rem 4em;
    text-transform: uppercase;
    @include fontSizeStyle(0.875rem);
    letter-spacing: 0;
    &:hover {
      border-bottom-right-radius: 30px;
      text-decoration: overline;
    }
  }
}

nav {
  display: none;
  &.sticky {
    background-color: #363636;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      width: 100%;
      display: flex;
      justify-content: center;
      a {
        text-align: center;
        padding: 14px 16px;
        color: #f2f2f2;
        &:hover {
          @include bgColor(background, cMain, 0.7);
          color: black;
        }
        &.active {
          color: white;
          font-weight: 600;
          @include bgColor(background, cMain, 0.7);
        }
      }
    }
    + .story {
      padding-top: 10vh;
    }
    .progress {
      width: 100%;
      height: 4px;
      background: #ccc;
      justify-content: flex-start;
      .bar {
        height: 100%;
        @include bgColor(background, cPoint, 0.7);
        width: 0%;
      }
    }
  }
}

.slide_v {
  background: #f8f8f8;
  height: 260vh;
  padding-bottom: 13.4vh;

  h2 {
    @include fontSizeStyle(2rem, 600);
    padding: 1% 0;
    text-align: center;
  }
  section {
    height: 100%;
    @include tablet {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(10%, 1fr));
      gap: 16px;
    }
    @include pc {
      grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
    }
  }

  .text {
    position: sticky;
    top: 90px;
    left: 0;

    @include tablet {
      top: 25%;
      grid-column: 1/3;
    }

    @include pc {
      top: calc(50% - 200px);
      grid-column: 3 / span 3;
    }

    div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.5s;
      text-align: center;
      @include fontSizeStyle(1.125rem);
      line-height: 2;

      &.active {
        opacity: 1;
      }

      @include tablet {
        text-align: left;
      }
      h4 {
        @include fontSizeStyle(1.5rem, 600);
        text-transform: uppercase;
      }
      i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 6px;
        display: inline-block;
        &::before {
          content: attr(data-comment);
          margin-top: 30px;
          font-size: 0.625rem;
          text-align: center;
          display: block;
        }
        &.w {
          background: white;
          box-shadow: 0 0 10px #ccc;
        }
        &.b {
          background: black;
        }
        &.p {
          background: #622b89;
        }
        &.p1 {
          background: #7301b7;
        }
      }
    }
  }

  .device_fix {
    position: sticky;
    top: calc(70vh - 0px);
    left: 0;
    right: 0;
    width: 100%;

    @include tablet {
      top: 25%;
      grid-column: 3/-1;
    }

    @include pc {
      grid-column: 6/-1;
    }

    $SLIDE_WIDTH: 80vw;

    @mixin slideWidth {
      width: $SLIDE_WIDTH;

      @include tablet {
        width: $SLIDE_WIDTH * 0.5625;
      }

      @include pc {
        width: $SLIDE_WIDTH * 0.6;
      }
    }

    @mixin slideWidthCalc {
      width: calc($SLIDE_WIDTH * 3);

      @include tablet {
        width: calc($SLIDE_WIDTH * 3);
      }

      @include pc {
        width: calc($SLIDE_WIDTH * 3);
      }
    }

    .slide_wrap {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include slideWidth;

      .slide {
        @include slideWidthCalc;
        height: 100%;
        transition: transform 0.5s;
        display: flex;
        flex-direction: row;

        figure {
          @include slideWidth;
          position: relative;
          animation: fade_in 1s linear forwards;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.slide_h {
  background: #f8f8f8;
  height: 260vh;
  padding-bottom: 13.4vh;
  h2 {
    @include fontSizeStyle(2rem, 600);
    padding: 10% 0 1%;
    text-align: center;
  }
  section {
    position: sticky;
    top: calc(50% - 300px);
    left: 0;
    & > div {
      height: 100%;
      margin: auto;
      overflow: hidden;
    }
  }
  .figureWrap {
    display: flex;
    transition: transform 0.5s;

    figure {
      flex: 0 0 fit-content;
      animation: fade_in 1s linear forwards;
      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }
      @include pc {
        grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
      }
      $SLIDE_WIDTH: 80vw;

      @mixin slideWidth {
        width: $SLIDE_WIDTH;

        @include tablet {
          width: $SLIDE_WIDTH * 0.5625;
        }

        @include pc {
          width: $SLIDE_WIDTH * 0.5;
        }
      }

      @mixin slideWidthCalc {
        width: calc($SLIDE_WIDTH * 3);

        @include tablet {
          width: calc($SLIDE_WIDTH * 3);
        }

        @include pc {
          width: calc($SLIDE_WIDTH * 3);
        }
      }

      span {
        @include tablet {
          grid-column: 1/1;
          align-self: center;
        }
        @include pc {
          grid-column: 2/8;
          align-self: center;
        }
      }
      figcaption {
        transition: opacity 0.5s;
        text-align: center;
        @include fontSizeStyle(1.125rem);
        line-height: 2;
        @include tablet {
          grid-column: 2/-1;
          align-self: center;
        }
        @include pc {
          grid-column: 9/-2;
        }

        h4 {
          @include fontSizeStyle(1.5rem, 600);
          text-transform: uppercase;
        }
      }
    }
  }
}

.sub_detail {
  padding: 10% 0;
  transition: background 0.5s;
  &.active {
    background: #555;
    color: #f8f8f8;
  }
}
.txtBox {
  text-align: center;
  @include tablet {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    gap: 16px;
  }
  h4 {
    @include fontSizeStyle(1.5rem, 600);
    text-transform: uppercase;
    @include tablet {
      grid-column: 3/3;
    }
  }
  p {
    @include fontSizeStyle(1.125rem);
    line-height: 2;
    @include tablet {
      grid-column: 3/3;
    }
    kbd {
      background: darkgray;
      padding: 2px 4px;
    }
  }
  .cp_embed_wrapper {
    @include tablet {
      grid-column: 2/-2;
    }
  }
}
