@-webkit-keyframes in-out-first {
  0% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@keyframes in-out-first {
  0% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@-webkit-keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@keyframes in-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% + 50px));
            transform: translateY(calc(-50% + 50px));
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(calc(-50% + 0px));
            transform: translateY(calc(-50% + 0px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(calc(-50% - 50px));
            transform: translateY(calc(-50% - 50px));
  }
}
@-webkit-keyframes moving {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-15816px);
            transform: translateX(-15816px);
  }
}
@keyframes moving {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-15816px);
            transform: translateX(-15816px);
  }
}
@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #1e1e1e;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #1e1e1e;
  }
}
/* 
#EDCDC2
#E5CCAF
#D4CACD
#BB2649
#BFAF92
#B7A990
#B3B1A1
#BFCAD6
 */
.title {
  width: 100%;
  height: 260vh;
  background-color: rgba(54, 54, 54, 0.7);
  position: relative;
}
.title::before {
  width: 100%;
  height: 100%;
  background: url(../images/main/title.jpg) center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
}
.title div {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  margin: auto;
  max-width: 1700px;
  height: 100vh;
}
.title div h2 {
  color: white;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 2.34375rem;
  -webkit-animation: in-out 1s linear forwards paused;
          animation: in-out 1s linear forwards paused;
  -webkit-animation-delay: calc(var(--progress) * -1s);
          animation-delay: calc(var(--progress) * -1s);
}
@media all and (min-width: 768px) {
  .title div h2 {
    font-size: 3.125rem;
  }
}
@media all and (min-width: 1280px) {
  .title div h2 {
    font-size: 4.6875rem;
  }
}
@media all and (min-width: 2000px) {
  .title div h2 {
    font-size: 6.6964285714rem;
  }
}
.title div h2:first-child {
  -webkit-animation-name: in-out-first;
          animation-name: in-out-first;
}

.introduce {
  background: #f8f8f8;
  height: 260vh;
  padding-bottom: 13.4vh;
}
@media all and (min-width: 768px) {
  .introduce {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(10%, 1fr));
    gap: 16px;
  }
}
@media all and (min-width: 1280px) {
  .introduce {
    grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
  }
}
.introduce h2 {
  margin: 5.625rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  opacity: 0.2;
}
@media all and (min-width: 768px) {
  .introduce h2 {
    font-size: 2rem;
  }
}
@media all and (min-width: 1280px) {
  .introduce h2 {
    font-size: 3rem;
  }
}
@media all and (min-width: 2000px) {
  .introduce h2 {
    font-size: 4.2857142857rem;
  }
}
@media all and (min-width: 768px) {
  .introduce h2 {
    grid-column: 1/-1;
  }
}
@media all and (min-width: 1280px) {
  .introduce h2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 20%;
    left: 0;
  }
}
.introduce .text_box {
  position: sticky;
  top: 90px;
  left: 0;
}
@media all and (min-width: 768px) {
  .introduce .text_box {
    top: 25%;
    grid-column: 1/3;
  }
}
@media all and (min-width: 1280px) {
  .introduce .text_box {
    top: calc(50% - 200px);
    grid-column: 3/span 3;
  }
}
.introduce .text_box p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2;
}
@media all and (min-width: 2000px) {
  .introduce .text_box p {
    font-size: 1.6071428571rem;
  }
}
.introduce .text_box p.active {
  opacity: 1;
}
@media all and (min-width: 768px) {
  .introduce .text_box p {
    text-align: left;
  }
}
.introduce .device_fix {
  position: sticky;
  top: calc(70vh - 0px);
  left: 0;
  right: 0;
  width: 100%;
}
@media all and (min-width: 768px) {
  .introduce .device_fix {
    top: 25%;
    grid-column: 3/-1;
  }
}
@media all and (min-width: 1280px) {
  .introduce .device_fix {
    grid-column: 7/-2;
  }
}
.introduce .device_fix .slide_wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80vw;
}
@media all and (min-width: 768px) {
  .introduce .device_fix .slide_wrap {
    width: 45vw;
  }
}
@media all and (min-width: 1280px) {
  .introduce .device_fix .slide_wrap {
    width: 40vw;
  }
}
.introduce .device_fix .slide_wrap .slide {
  width: 240vw;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media all and (min-width: 768px) {
  .introduce .device_fix .slide_wrap .slide {
    width: 240vw;
  }
}
@media all and (min-width: 1280px) {
  .introduce .device_fix .slide_wrap .slide {
    width: 240vw;
  }
}
.introduce .device_fix .slide_wrap .slide figure {
  width: 80vw;
  position: relative;
  -webkit-animation: fade_in 1s linear forwards;
          animation: fade_in 1s linear forwards;
}
@media all and (min-width: 768px) {
  .introduce .device_fix .slide_wrap .slide figure {
    width: 45vw;
  }
}
@media all and (min-width: 1280px) {
  .introduce .device_fix .slide_wrap .slide figure {
    width: 40vw;
  }
}
.introduce .device_fix .slide_wrap .slide figure img {
  max-width: 100%;
}

.personality {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  overflow: hidden;
  background: white;
  position: relative;
}
.personality .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.personality .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  -webkit-animation: moving 30s linear infinite;
          animation: moving 30s linear infinite;
}
@media all and (min-width: 1280px) {
  .personality .container .box {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
.personality .container .box span {
  font-weight: 600;
  font-size: 3.90625rem;
  color: #e6e6e6;
  padding: 0 0.5em 0 0;
  display: block;
}
@media all and (min-width: 768px) {
  .personality .container .box span {
    font-size: 5.2083333333rem;
  }
}
@media all and (min-width: 1280px) {
  .personality .container .box span {
    font-size: 7.8125rem;
  }
}
@media all and (min-width: 2000px) {
  .personality .container .box span {
    font-size: 11.1607142857rem;
  }
}
.personality:hover .box {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.interest {
  background: #f8f8f8;
  overflow: hidden;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.interest.active {
  background: bisque;
}
.interest h2 {
  margin: 5.625rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  opacity: 0.2;
}
@media all and (min-width: 768px) {
  .interest h2 {
    font-size: 2rem;
  }
}
@media all and (min-width: 1280px) {
  .interest h2 {
    font-size: 3rem;
  }
}
@media all and (min-width: 2000px) {
  .interest h2 {
    font-size: 4.2857142857rem;
  }
}
@media all and (min-width: 768px) {
  .interest h2 {
    grid-column: 1/-1;
  }
}
.interest ul {
  position: relative;
}
.interest ul li {
  position: relative;
}
@media all and (min-width: 768px) {
  .interest ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(auto, 100px));
    gap: 16px;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li {
    grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
    grid-template-rows: repeat(4, minmax(auto, 100px));
  }
  .interest ul li:first-child {
    margin-top: 16vh;
  }
}
.interest ul li i {
  width: 30vw;
  height: 30vw;
  background-color: beige;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -40%;
  right: 0;
}
.interest ul li figure {
  z-index: 20;
}
.interest ul li figure a {
  overflow: hidden;
  position: relative;
}
.interest ul li figure a img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.interest ul li figure a:hover img {
  -webkit-transform: scale(1.2) rotate(-0.01deg);
          transform: scale(1.2) rotate(-0.01deg);
}
.interest ul li figure a::before {
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
}
.interest ul li figure a:hover::before {
  width: 100%;
  background: rgba(37, 37, 37, 0.94);
  -webkit-transition: width 0.5s 0.2s;
  transition: width 0.5s 0.2s;
}
.interest ul li figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.interest ul li figure figcaption span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
  text-transform: uppercase;
  padding: 0 0.5em;
  background: bisque;
}
@media all and (min-width: 768px) {
  .interest ul li figure figcaption span {
    font-size: 2rem;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li figure figcaption span {
    font-size: 3rem;
  }
}
@media all and (min-width: 2000px) {
  .interest ul li figure figcaption span {
    font-size: 4.2857142857rem;
  }
}
@media all and (min-width: 768px) {
  .interest ul li figure figcaption span {
    padding: 0;
    font-weight: 300;
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) and (min-width: 768px) {
  .interest ul li figure figcaption span {
    font-size: 2rem;
  }
}
@media all and (min-width: 768px) and (min-width: 1280px) {
  .interest ul li figure figcaption span {
    font-size: 3rem;
  }
}
@media all and (min-width: 768px) and (min-width: 2000px) {
  .interest ul li figure figcaption span {
    font-size: 4.2857142857rem;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li figure figcaption span {
    position: absolute;
    background: 0;
  }
}
@media all and (min-width: 768px) {
  .interest ul li .landing {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .landing {
    grid-column: 3/span 3;
    grid-row: 1/span 2;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .landing span {
    position: absolute;
    top: 217px;
    left: 307px;
  }
}
@media all and (min-width: 768px) {
  .interest ul li .figma {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .figma {
    grid-column: 1/span 3;
    grid-row: 2/span 2;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .figma span {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    top: calc(0% - 120px);
    left: calc(0% + 131px);
  }
}
@media all and (min-width: 768px) {
  .interest ul li .javascript {
    grid-column: 2/-1;
    grid-row: 3/4;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .javascript {
    grid-column: 10/span 3;
    grid-row: 2/span 2;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .javascript span {
    top: 133px;
    left: -170px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media all and (min-width: 768px) {
  .interest ul li .bootstrap {
    grid-column: 2/-1;
    grid-row: 1/3;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .bootstrap {
    grid-column: 9/span 3;
    grid-row: 1/span 2;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li .bootstrap span {
    top: -50px;
    left: 160px;
  }
}
.interest ul li dl {
  margin: 1.5em 0;
}
@media all and (min-width: 768px) {
  .interest ul li dl.design {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li dl.design {
    grid-column: 7/span 3;
    grid-row: 2/span 2;
  }
}
@media all and (min-width: 768px) {
  .interest ul li dl.phublising {
    grid-column: 1/span 1;
    grid-row: 1/span 3;
  }
}
@media all and (min-width: 1280px) {
  .interest ul li dl.phublising {
    grid-column: 4/span 4;
    grid-row: 2/span 3;
  }
}
.interest ul li dl dt {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: capitalize;
}
@media all and (min-width: 2000px) {
  .interest ul li dl dt {
    font-size: 1.7857142857rem;
  }
}
.interest ul li dl dd {
  line-height: 2;
  font-weight: 400;
  font-size: 1.125rem;
}
@media all and (min-width: 2000px) {
  .interest ul li dl dd {
    font-size: 1.6071428571rem;
  }
}
.interest ul li dl dd::before {
  content: "-";
  padding-right: 0.5em;
}

.project {
  padding-bottom: 10vh;
}
@media all and (min-width: 768px) {
  .project div:first-child {
    height: 30vh;
  }
  .project div:last-child {
    margin-top: 20vh;
    padding-bottom: 1vh;
  }
}
@media all and (min-width: 1280px) {
  .project {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
  }
  .project div:first-child {
    height: auto;
    grid-column: 3/span 2;
  }
  .project div:last-child {
    grid-column: 6/-1;
  }
}
.project p {
  position: sticky;
  top: 50%;
  left: 0;
  line-height: 2;
  font-weight: 400;
  font-size: 1.125rem;
}
@media all and (min-width: 2000px) {
  .project p {
    font-size: 1.6071428571rem;
  }
}
.project ul {
  margin-bottom: 10rem;
  opacity: 0;
  margin-right: 1rem;
  font-weight: 900;
  font-size: 3.5rem;
}
@media all and (min-width: 1280px) {
  .project ul {
    margin-top: 30%;
  }
}
@media all and (min-width: 768px) {
  .project ul {
    font-size: 4.6666666667rem;
  }
}
@media all and (min-width: 1280px) {
  .project ul {
    font-size: 7rem;
  }
}
@media all and (min-width: 2000px) {
  .project ul {
    font-size: 10rem;
  }
}
.project ul.active {
  -webkit-animation: fade_in 1s linear forwards;
          animation: fade_in 1s linear forwards;
}
.project ul li {
  text-align: right;
  margin-top: 1em;
  line-height: 1;
  -webkit-animation: fade_in 1s linear forwards;
          animation: fade_in 1s linear forwards;
}
.project ul li:first-child {
  padding-top: -50%;
}
.project ul li a {
  -webkit-transform: rotateY(-25deg) translateZ(0) scale(1.2) matrix(1, -0.2, 0, 1, -34, 24);
          transform: rotateY(-25deg) translateZ(0) scale(1.2) matrix(1, -0.2, 0, 1, -34, 24);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: inline-block;
  position: relative;
}
.project ul li a::before {
  content: "";
  position: absolute;
  top: 0.23em;
  margin-left: -0.25em;
  width: 1px;
  height: 0.85em;
  background-color: #000;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  pointer-events: none;
}
.project ul li a:hover {
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: transparent;
  -webkit-transform: rotateY(-25deg) translateZ(0) scale(1.2) matrix(1, 0, 0, 1, -40, 21);
          transform: rotateY(-25deg) translateZ(0) scale(1.2) matrix(1, 0, 0, 1, -40, 21);
}
.project button {
  padding: 1rem;
  margin: 0 auto;
  background: #1e1e1e;
  color: #f8f8f8;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.125rem;
  text-transform: uppercase;
  display: block;
}
@media all and (min-width: 2000px) {
  .project button {
    font-size: 1.6071428571rem;
  }
}
@media all and (min-width: 768px) {
  .project button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
.project button:not([disabled]):hover {
  background: 0;
  color: #1e1e1e;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
.project button[disabled] {
  background: #f8f8f8 !important;
  cursor: default;
}

.storyGraph {
  position: relative;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
@media all and (min-width: 768px) {
  .storyGraph {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }
  .storyGraph::before {
    content: "";
    width: 30vw;
    height: 30vw;
    background: transparent;
    border-radius: 50%;
    position: fixed;
    top: -10vw;
    left: -10vw;
    z-index: 1;
    -webkit-transition: background 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: background 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  .storyGraph::after {
    content: "";
    width: 15vw;
    height: 15vw;
    border: 10px dashed transparent;
    border-radius: 50%;
    position: fixed;
    top: 10vw;
    left: -10vw;
    z-index: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition: all 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
}
@media all and (min-width: 1280px) {
  .storyGraph {
    grid-template-columns: repeat(auto-fill, minmax(7%, 1fr));
  }
}
.storyGraph .history {
  z-index: 1;
}
@media all and (min-width: 768px) {
  .storyGraph .history {
    grid-column: 1/span 2;
  }
}
@media all and (min-width: 1280px) {
  .storyGraph .history {
    grid-column: 3/span 3;
  }
}
.storyGraph .history li {
  padding-top: 1rem;
  border-top: 1px dashed gray;
  margin-bottom: 1rem;
  line-height: 1.86;
  font-weight: 400;
  font-size: 1.125rem;
}
@media all and (min-width: 2000px) {
  .storyGraph .history li {
    font-size: 1.6071428571rem;
  }
}
@media all and (min-width: 768px) {
  .storyGraph .history li {
    padding: 100% 0 0%;
    border: 0;
  }
  .storyGraph .history li:last-child {
    padding-bottom: 50%;
  }
}
.storyGraph .history li strong {
  margin-bottom: 1rem;
  display: block;
  font-weight: 500;
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  .storyGraph .history li strong {
    font-size: 1.3333333333rem;
  }
}
@media all and (min-width: 1280px) {
  .storyGraph .history li strong {
    font-size: 2rem;
  }
}
@media all and (min-width: 2000px) {
  .storyGraph .history li strong {
    font-size: 2.8571428571rem;
  }
}
.storyGraph .history li em {
  color: #656565;
  margin-bottom: 1rem;
  display: block;
}
.storyGraph .pieBox {
  position: relative;
  z-index: 1;
}
@media all and (min-width: 768px) {
  .storyGraph .pieBox {
    grid-column: 3/-1;
  }
}
@media all and (min-width: 1280px) {
  .storyGraph .pieBox {
    grid-column: 7/-2;
  }
}
.storyGraph .pieBox > div {
  position: sticky;
  top: 30%;
  right: 0;
}
.storyGraph .pieContainer {
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
@media all and (min-width: 1280px) {
  .storyGraph .pieContainer {
    margin: 0 0 0 auto;
  }
}
.storyGraph .pieContainer::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: #f8f8f8;
  border-radius: 100%;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  z-index: 1;
}
.storyGraph .pieContainer .pieSlice {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 300px, 300px, 150px);
}
.storyGraph .pieContainer .pieSlice .pie {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  clip: rect(0px, 150px, 300px, 0px);
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}
.storyGraph .colorSign {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (min-width: 1280px) {
  .storyGraph .colorSign {
    top: 40px;
    left: auto;
    right: 360px;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.storyGraph .colorSign .pieName {
  font-weight: 400;
  font-size: 0.875rem;
  text-align: left;
}
@media all and (min-width: 2000px) {
  .storyGraph .colorSign .pieName {
    font-size: 1.25rem;
  }
}
.storyGraph .colorSign .pieName li {
  line-height: 1;
  margin-bottom: 14px;
  text-transform: capitalize;
}
.storyGraph .colorSign .pieName li::after {
  content: attr(data-percent) "%";
  font-weight: 900;
  font-size: 0.9375rem;
  padding-left: 10px;
}
@media all and (min-width: 768px) {
  .storyGraph .colorSign .pieName li::after {
    font-size: 1.25rem;
  }
}
@media all and (min-width: 1280px) {
  .storyGraph .colorSign .pieName li::after {
    font-size: 1.875rem;
  }
}
@media all and (min-width: 2000px) {
  .storyGraph .colorSign .pieName li::after {
    font-size: 2.6785714286rem;
  }
}
.storyGraph .colorSign .pieName li i {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
  background: var(--bgColor);
}
.storyGraph.active {
  background-color: #1e1e1e;
}
@media all and (min-width: 768px) {
  .storyGraph.active.active::before {
    background: rgba(51, 51, 51, 0.123);
  }
  .storyGraph.active.active::after {
    border-color: rgba(39, 39, 39, 0.3647058824);
  }
}
.storyGraph.active .history li,
.storyGraph.active .pieName li {
  font-weight: 300;
  color: darkgrey;
}
.storyGraph.active .history strong {
  color: #fff;
}
.storyGraph.active .pieContainer::before {
  background-color: #1e1e1e;
}

.overlap .img_device {
  position: relative;
  z-index: 50;
  width: 300px;
  margin: 0 auto;
}

.overlap .bg_change {
  width: 100%;
  height: 100%;
}

.overlap .img_device::before,
.overlap .img_device::after,
.overlap .img_device a::before,
.overlap .img_device a::after {
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.overlap .img_device:hover::before {
  width: 100%;
  background: #000;
  -webkit-transition: width 0.5s 0.2s;
  transition: width 0.5s 0.2s;
}

.overlap .img_device:hover::after {
  width: 100%;
  background-color: #272727;
  -webkit-transition: width 0.5s 0.7s;
  transition: width 0.5s 0.7s;
}

.overlap .img_device:hover a::before {
  width: 100%;
  background: #c2bada;
  -webkit-transition: width 0.5s 1.2s;
  transition: width 0.5s 1.2s;
  z-index: 1;
}

.bg_clip {
  position: absolute;
  width: 320px;
  height: 320px;
  border: 1px solid;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-color: cornflowerblue;
}